<app-header headerTitle="Address" [isMenuVisible]="false" routerLink="/profile"></app-header>
<div class="ion-padding">
  <div class="bg-white border-solid border-2 rounded m-2 p-2 ">
    <div class="flex items-center">
      <span class="material-icons text-red-400 w-10">location_on_ios</span>
      <h5 class="text-[15px] font-medium">
        Seksaria Indl.estate, S V Road, Behind Hanuman Temple, Malad (west),123445
      </h5>
    </div>
    <div class="flex justify-center">
      <ion-button (click)="goToEdit()" class="bg-black text-white rounded w-3/6">
        <span  class="material-icons w-10">edit_square</span>
        Edit
      </ion-button>
      <ion-button class="bg-black text-white rounded w-3/6" (click)=" presentAlert()">
        <span class="material-icons w-10">delete_ios</span>
        Delete
      </ion-button>
    </div>
  </div>
  <div class="bg-white border-solid border-2 rounded m-2 p-2 ">
    <div class="flex items-center">
      <span class="material-icons text-red-400 w-10">location_on_ios</span>
      <h5 class="text-[15px] font-medium">
        Seksaria Indl.estate, S V Road, Behind Hanuman Temple, Malad (west),123445
      </h5>
    </div>
    <div class="flex justify-center">
      <ion-button (click)="goToEdit()" class="bg-black text-white rounded w-3/6">
        <span  class="material-icons w-10">edit_square</span>
        Edit
      </ion-button>
      <ion-button class="bg-black text-white rounded w-3/6" (click)=" presentAlert()">
        <span class="material-icons w-10">delete_ios</span>
        Delete
      </ion-button>
    </div>
  </div>
  <div class="bg-white border-solid border-2 rounded m-2 p-2 ">
    <div class="flex items-center">
      <span class="material-icons text-red-400 w-10">location_on_ios</span>
      <h5 class="text-[15px] font-medium">
        Seksaria Indl.estate, S V Road, Behind Hanuman Temple, Malad (west),123445
      </h5>
    </div>
    <div class="flex justify-center">
      <ion-button (click)="goToEdit()" class="bg-black text-white rounded w-3/6">
        <span  class="material-icons w-10">edit_square</span>
        Edit
      </ion-button>
      <ion-button class="bg-black text-white rounded w-3/6" (click)=" presentAlert()">
        <span class="material-icons w-10">delete_ios</span>
        Delete
      </ion-button>
    </div>
  </div>
  <div class="bg-white border-solid border-2 rounded m-2 p-2 ">
    <div class="flex items-center">
      <span class="material-icons text-red-400 w-10">location_on_ios</span>
      <h5 class="text-[15px] font-medium">
        Seksaria Indl.estate, S V Road, Behind Hanuman Temple, Malad (west),123445
      </h5>
    </div>
    <div class="flex justify-center">
      <ion-button (click)="goToEdit()" class="bg-black text-white rounded w-3/6">
        <span  class="material-icons w-10">edit_square</span>
        Edit
      </ion-button>
      <ion-button class="bg-black text-white rounded w-3/6" (click)=" presentAlert()">
        <span class="material-icons w-10">delete_ios</span>
        Delete
      </ion-button>
    </div>
  </div>
  <div class="p-2 fixed bottom-0 left-0 right-0">
    <ion-button class="w-full items-center" (click)="goToAddAdress()">
      <span class="material-icons mr-2">add_circle</span>
      Add Now
    </ion-button>
  </div>
  <!-- <ion-button (click)="presentAlert()">Click Me</ion-button> -->
</div>
<!-- <router-outlet></router-outlet> -->
