<div
  class="bg-black py-[18px] px-[20px] shadow-md text-white flex justify-between"
>
  <div class="flex items-center">
    <button class="mr-2" *ngIf="routerLink">
      <span class="material-icons">arrow_back_ios</span>
    </button>
    <h5 class="text-[18px] font-bold m-0">{{ headerTitle }}</h5>
  </div>
  <button *ngIf="isMenuVisible" (click)="toggleMenu()">
    <span class="material-icons">menu</span>
  </button>
</div>
<app-sidebar
  [isSidebarVisible]="isSidebarVisible"
  (toggleMenu)="toggleMenu()"></app-sidebar>
