
  .Input-border {
    margin: 10Px;
    border: 1px solid #000000 !important;
    border-radius: 5px;
  }
  
  .bg-ondemand {
    background-color: #F4F4F4 !important;
    border-radius: 5px;
  }
  
  .bg-width {
    width: 150px !important;
    height: auto;
  }
  
  .container {
    font-size: 16px;
    line-height: 16px;
    height: 32px;
    overflow: hidden;
  }
  
  .show {
    overflow: visible;
    height: auto;
  }
  
  .Input-border {
    margin: 5Px;
    border-radius: 5px;
  }
  
  .bg-button {
    background-color: #ff0000 !important;
    height: 36px;
    width: 142px;
    color: white;
    border-radius: 30px;
  }
  
  .vl {
    border-left: 4px solid #000;
    height: 20px;
  }
  .vl-xl {
    border-left: 2px solid #000;
    height: 65px;
  }
  .absolute {
    position: absolute;
  }
  .status {
        border-bottom: 3px solid var(--ion-color-primary);
        left: 65px;
  }
  .vl1 {
    border-left: 1px solid #000;
    height: 40px;
  }
  
  .stepper-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius:10px;
    padding-top:5px;
    padding-bottom: 5px;
  }
  
  .vl2 {
    border-left: 1px solid #000;
    height: 20px;
    margin: 51px;
  }
  
  .vl3 {
    border-left: 4px solid #000;
    height: 50px;
    margin: 5px;
  }
  .vl4 {
    border-left: 1px solid #000;
    height: 40px;
    margin: 47px;
  }
  .t-line{
    border-left: 4px solid blue;
  }
  .f-line{
    border-left: 4px solid green;
  }
  .p-line{
    border-left: 4px solid red;
  }
