<app-header headerTitle="Enter Your New Password" [isMenuVisible]="false" routerLink="/dashboard" ></app-header>

<div class="ion-padding">
  <img class="w-4/6 m-auto" src="./assets/img/undraw_authentication_re_svpt 2.png" alt="" />
  <form [formGroup]="resetPasswordForm" (ngSubmit)="submitForm()" novalidate>
    <div class="ml-[-10px] mr-[10px]">
      <ion-input type="password" formControlName="newPassword" minlength="6" class="Input-border"
        placeholder="New Password ">
      </ion-input>
      <span class="error text-red-500 ion-padding" *ngIf="isSubmitted && errorControl.newPassword.errors?.required">
        New Password is required.
      </span>
      <span class="error text-red-500 ion-padding" *ngIf="isSubmitted && errorControl.newPassword.errors?.minlength">
        Password must be at least 6 characters long.
      </span>
      <ion-input type="password" formControlName="confirmPassword" minlength="6" class="Input-border"
        placeholder="Confirm Password ">
      </ion-input>
      <span class="error text-red-500 ion-padding" *ngIf="isSubmitted && errorControl.confirmPassword.errors?.required">
        Confirm Password is required.
      </span>
      <span class="error text-red-500 ion-padding"
        *ngIf="isSubmitted && errorControl.confirmPassword.errors?.['confirmedValidator']">
        Confirm Passwords did not match
      </span>
      <span class="error text-red-500 ion-padding"
        *ngIf="isSubmitted && errorControl.confirmPassword.errors?.minlength">
        Password must be at least 6 characters long.
      </span>
    </div>
    <ion-button type="submit" class="w-full my-4">
      <span class="material-icons mr-2"> check_circle </span>
      Save Password
    </ion-button>
  </form>
</div>
<router-outlet></router-outlet>
<!-- <app-tab-navigator></app-tab-navigator> -->
