 
ion-content {
  .wlcm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    img {
      height: 220px;
      width: 220px;
    }
    .head_lbl {
      font-size: 32px;
      font-family: "bold";
      display: flex;
      text-align: center;
      margin-top: 2rem;
    }
  }
  .btn {
    margin-top: 2rem;
    .google {
      --background: #f8eced;
      color: #000;
      margin-top: 2rem;
    }
    img {
      height: 20px;
      width: 20px;
    }
  }
  .terms {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 4rem;
    .bottom_lbl {
      font-size: 14px;
      span {
        font-family: "semi-bold";
        color: #f6515f;
      }
    }
  }
}
