<app-header headerTitle="Settings" [isMenuVisible]="false" routerLink="/profile"></app-header>
<div class="ion-padding">

    <div class="flex">
        <img src=".\assets\undraw_female_avatar_wqf0.svg" alt="" class="h-20 w-20">
        <div class="ml-8">
            <h5 class="text-[18px] text-center">John Doe</h5>
        </div>
    </div>
    <div class="border 5px solid black mt-5 mb-5"></div>
    <ion-list class="menu-items" lines="none">
        <ion-item>
            <ion-icon name="notifications-outline">
            </ion-icon>Notifications
            <span class="ml-20"><label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                </label>
            </span>
        </ion-item>

        <ion-item>
            <ion-icon name="language-outline"></ion-icon>Language
            <span class="ml-20">
                <ion-list>
                    <ion-item>
                        <ion-select  placeholder="English">
                            <ion-select-option value="apples">English</ion-select-option>
                            <ion-select-option value="oranges">Hindi</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
            </span>
        </ion-item>

    </ion-list>
</div>