<app-header headerTitle="App Info" goBackNav="profile" [isMenuVisible]="false"></app-header>
<div class="justify-center mt-28">
  <h5 class="font-bold text-center text-[20px]">DII Customer App</h5>
  <h6 class="font-bold text-center text-[16px]">version 2.22.15.74</h6>
  <img src="./assets/img/image 5.png" class="w-3/6 m-auto my-6" alt="" />
  <h6 class="font-bold text-center text-[16px]">&#169;2010-2022 Dii Customer App Inc</h6>
  <div class="justify-center flex mt-5">
    <ion-button class="bg-black text-white rounded w-3/6 font-bold">
      Terms & Conditions</ion-button>
  </div>
</div>

<div class="p-2.5	text-justify">
  <h5 class="font-bold text-[20px]">Terms And Conditions
  </h5>
  <span>Please read these Terms and Conditions carefully before using the http://www.edgeonservices.com website operated
    by Edge on Manpower LLP.</span>
  <span>Your access to and use of the service are conditioned on your acceptance of and compliance with these terms.
    These terms apply to all visitors, users, and others who access or use the service.
  </span>
  <span>By accessing or using the service, you agree to be bound by these terms. If you disagree with any part of the
    terms, you may not access the service.

  </span>
  <h6 class="font-bold text-[20px]">Termination
  </h6>
  <span>We may terminate or suspend access to our service immediately, without prior notice or liability, for any reason
    whatsoever, including without limitation if you breach the Terms.
  </span>
  <span>All provisions of the Terms that, by their nature, should survive termination shall survive termination,
    including, without limitation, ownership provisions, warranty disclaimers, indemnity provisions, and limitations of
    liability.
  </span>
  <h6 class="font-bold text-[20px]">Content
  </h6>

  <span>Our Service allows you to post, link to, store, share, and otherwise make available certain information, text,
    graphics, photos, videos, or other material (“Content”). You are responsible for the content that you post to the
    service, including its legality, reliability, and appropriateness.

  </span>
  <span>By posting Content to the Service, you grant us the right and licence to use, modify, publicly perform, publicly
    display, reproduce, and distribute such Content on and through the Service. You retain any and all of your rights to
    any content you submit, post, or display on or through the service, and you are responsible for protecting those
    rights. You agree that this licence includes the right for us to make your content available to other service users,
    who may use it in accordance with these Terms.

  </span>
  <span>You represent and warrant that: (i) the Content is yours (you own it) or you have the right to use it and grant
    us the rights and licence as provided in these Terms, and (ii) the posting of your Content on or through the Service
    does not violate the privacy rights, publicity rights, copyrights, contract rights, or any other rights of any
    person.

  </span>
  <h6 class="font-bold text-[20px]">Links To Other Web Sites

  </h6>
  <span>Our service may contain links to third-party web sites or services that are not owned or controlled by Edge on
    Manpower LLP.
  </span>
  <span>Edge on Manpower LLP. has no control over, and assumes no responsibility for, the content, privacy policies, or
    practises of any third-party web sites or services. You further acknowledge and agree that Edge On Manpower LLP
    shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by
    or in connection with use of or reliance on any such content, goods, or services available on or through any such
    web sites or services.
  </span>
  <h6 class="font-bold text-[20px]">Changes
  </h6>
  <span>We reserve the right, at our sole discretion, to modify or replace these terms at any time. If there is a
    revision in the material, we will try to provide at least 30 days’ notice prior to any new terms taking effect. What
    constitutes a material change will be determined at our sole discretion.
  </span>
  <h6 class="font-bold text-[20px]">Contact Us</h6>
    <span>If you have any questions about these terms, please contact us.
    </span>
</div> 

