
<app-header headerTitle="Profile" [isMenuVisible]="false" routerLink="/dashboard"></app-header>


<div class="ion-padding">

  <div class="header-content">
    <img src=".\assets\undraw_female_avatar_wqf0.svg" alt="">
    <ion-label>
      <h2>John Doe</h2>
      <p>john12@gmail.com</p>

    </ion-label>
  </div>
<div class="border 5px solid black mt-5"></div>
  <ion-list class="menu-items" lines="none">

    <ion-item (click)="goToEditProfile ()">
    <ion-icon (click)="goToEditProfile ()" name="create-outline"></ion-icon>Edit Profile
    </ion-item>

    <ion-item (click)="goToAdresses ()">
    <ion-icon (click)="goToAdresses ()" name="location-outline"></ion-icon>Address
    </ion-item>

    <ion-item (click)="goToSettings()">
    <ion-icon name="settings-outline"></ion-icon>Settings
    </ion-item>

    <ion-item (click)="goToResetPassword ()">
      <ion-icon (click)="goToResetPassword ()"name="refresh-circle-outline"></ion-icon>Reset Password
      </ion-item>

    <ion-item (click)="goToHelp()">
      <ion-icon (click)="goToHelp()" name="help-sharp"></ion-icon>Help
      </ion-item>



      <ion-item (click)="goToAppInfo()">
        <ion-icon name="information" (click)="goToAppInfo()"></ion-icon>App info
        </ion-item>


  </ion-list>
</div>


<router-outlet></router-outlet>
<app-tab-navigator></app-tab-navigator>