<app-header headerTitle="Forget Password" [isMenuVisible]="false" routerLink="/signin"></app-header>

<div class="ion-padding">
  <img class="w-3/6 m-auto"  src="./assets/img/image 55.png" alt="" />
  <div class="mt-[30px]">
    <form [formGroup]="LoginForm" (ngSubmit)="submitForm()" novalidate>
      <div class="ml-[-10px] mr-[10px]">
        <ion-input formControlName="phoneNo" minlength="10" type="tel" maxlength="10" class="Input-border"
          placeholder="Enter your phone No."></ion-input>
        <span class="error text-red-500 ion-padding" *ngIf="isSubmitted && errorControl.phoneNo.errors?.required">
          Phone Number is required.
        </span>
        <span class="error text-red-500 ion-padding " *ngIf="phoneNo.errors?.minlength">
          Phone Number must be at least 10 characters long.
        </span>
      </div>
      <ion-button type="submit" class="w-full my-4">
        <span class="material-icons mr-2"> mobile_friendly </span>
        Confirm
      </ion-button>
    </form>
  </div>
</div>
