


i.fa-folder {
    transform: translatex(calc(-100%)); 
    border-left: 0px solid black;      
     padding: 0 7px; 
    }
  
  input {
    padding-right: 2em;

  }

  .mb-20 {
    margin-bottom: 20px;
  }

  .btn_1 {
    --background: black;
  }
  .bg-inqury{
    background: #8000FF !important;
    height: 36px;
    color: white;
    border-radius: 5px;
  }
  .bg-button{
    background-color: rgb(13, 61, 7) !important;
    height: 36px;
    color: white;
    border-radius: 5px;
  }
  .btn_4 {
    --background: rgb(13, 61, 7);
  }
  ion-popover {
    &.width-80 {
      --width: 80%;
    }
  }