.Input-border{
  margin: 10Px;
  border: 1px solid #000000 !important;
  border-radius: 5px;
}
.bg-inqury{
  background: #8000FF !important;
  height: 36px;
  color: white;
  border-radius: 5px;
}
.bg-button{
  background-color: #ff0000 !important;
  height: 36px;
  color: white;
  border-radius: 5px;
}
