<app-header headerTitle="Sign up Company" routerLink="/signin"></app-header>  

<div class="ion-padding">
  <img src="./assets/img/undraw_best_place_re_lne9.svg" alt="" />
  <ion-item lines="none">
    <span class="material-icons mr-3" (click)="goTologin()">
      arrow_back_ios_new
    </span>
    <span class="heading my-4"> Create an account. </span>
  </ion-item>
  <form [formGroup]="companyForm" (ngSubmit)="submitForm()" novalidate>
    <div class="ml-[-10px] mr-[10px]">
      <ion-input class="Input-border" formControlName="companyName" placeholder="Company name"></ion-input>
      <span class="error text-red-500 ion-padding" *ngIf="isSubmitted && errorControl.companyName.errors?.required">
        Company name is required.
      </span>
      <ion-input class="Input-border" formControlName="gstNo" placeholder="GST Number"></ion-input>
      <span class="error text-red-500 ion-padding" *ngIf="isSubmitted && errorControl.gstNo.errors?.required">
        GST Number is required.
      </span>
      <ion-input class="Input-border" formControlName="contactPersonName" placeholder="Contact person name"></ion-input>
      <span class="error text-red-500 ion-padding"
        *ngIf="isSubmitted && errorControl.contactPersonName.errors?.required">
        Contact person name is required.
      </span>
      <ion-input class="Input-border" formControlName="phoneNo" placeholder="Phone no."></ion-input>
      <span class="error text-red-500 ion-padding" *ngIf="isSubmitted && errorControl.phoneNo.errors?.required">
        Phone no. is required.
      </span>
      <ion-input class="Input-border" formControlName="email" placeholder="Email Id"></ion-input>
      <span class="error text-red-500 ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
        Email Id is required.
      </span>
      <ion-select class="Input-border w-full " formControlName="selectSource" placeholder="Select Source">
        <ion-select-option value="apples">friend</ion-select-option>
        <ion-select-option value="oranges">ask</ion-select-option>
      </ion-select>
      <span class="error text-red-500 ion-padding" *ngIf="isSubmitted && errorControl.selectSource.errors?.required">
        Select Source is required.
      </span>
      <ion-input type="password" class="Input-border" formControlName="password" placeholder="Password"></ion-input>
      <span class="error text-red-500 ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
        Password is required.
      </span>
      <ion-input type="password" class="Input-border" formControlName="confirmPassword" placeholder="Confirm Password"></ion-input>
      <span class="error text-red-500 ion-padding" *ngIf="isSubmitted && errorControl.confirmPassword.errors?.required">
        Confirm Password is required.
      </span>
    </div>
    <p class="sub-title justify-center flex">
      <ion-checkbox formControlName="checkBox" class="mr-2"></ion-checkbox>
      I’ve read and accept
      <span class="bg-indigo sub-title"> Terms & Conditions.</span>
    </p>
    <span class="error text-red-500 ion-padding" *ngIf="isSubmitted && errorControl.checkBox.errors?.required">
      Please Accept Terms & Conditions.
    </span>
    <ion-button type="submit" class="w-full my-4">
      <span class="material-icons mr-2">login</span>
      Sign Up
    </ion-button>
    <p class="sub-title text-center">
      Already have an account? <span class="bg-indigo sub-title" (click)="goTologin()">Sign in</span>
    </p>
  </form>
</div>
