<app-header headerTitle="Edit Address" [isMenuVisible]="false" routerLink="/addresses"></app-header>
<div class="ion-padding">
  <img src="./assets/img/undraw_delivery_address_re_cjca (1).svg" alt="" />
    <form [formGroup]="editaddressForm" (ngSubmit)="submitForm()" novalidate>
      <div class="ml-[-10px] mr-[10px]">
        <ion-input class="Input-border w-full"  placeholder="Enter Locality & City"></ion-input>
        <!-- <span class="error text-red-500 ion-padding" *ngIf="isSubmitted && errorControl.addressType.errors?.required">
          Locality & city is required.
        </span> -->

      <ion-input class="Input-border"  placeholder="54321 Express By Pass Road"></ion-input>

      <ion-input class="Input-border" placeholder="Apartment Number 9876"></ion-input>
      <!-- <span class="error text-red-500 ion-padding" *ngIf="isSubmitted && errorControl.addressLine2.errors?.required">
        Address Line 2 is required.
      </span> -->

      <ion-input disabled="true" class="Input-border w-full" placeholder="Katraj"></ion-input>

      <ion-select disabled="true" class="Input-border  w-full" placeholder="Pune">
        <option value="">Pune</option>
      </ion-select>
      <!-- <span class="error text-red-500 ion-padding" *ngIf="isSubmitted && errorControl.city.errors?.required">
        City is required.
      </span> -->
      <ion-input disabled="true" class="Input-border w-full"  placeholder="Maharashtra" ng-readonly="true">
      </ion-input>

      <ion-input disabled="true" class="Input-border w-full"  placeholder="India"></ion-input>
      <!-- <span class="error text-red-500 ion-padding" *ngIf="isSubmitted && errorControl.selectState.errors?.required">
        Select State is required.
      </span> -->

      <ion-input class="Input-border" formControlName="zipCode" placeholder="414103"></ion-input>
      <span class="error text-red-500 ion-padding" *ngIf="isSubmitted && errorControl.zipCode.errors?.required">
        Zip Code is required.
      </span>
    </div>
    <ion-button class="w-full my-4"  (click)="submitForm()">
      <span class="material-icons mr-2">add_circle</span>
      Save
    </ion-button>
  </form>
</div>
