.app-sidebar {
    transition: 0.3s ease-out;
    transform: translate3d(-120%, 0, 0);
    &.visible {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .app-sidebar-overlay {
    display: none;
    &.visible {
      display: block;
    }
  }
  