.Input-border{
    margin: 10Px;
    border: 1px solid #000000 !important;
    border-radius: 5px;
  }
  .sub-title{
    font-size: 12px;
    font-weight: 800;
  }
  .bg-button{
    background-color: #ff0000 !important;
    height: 36px;
    color: white;
    border-radius: 5px;
  }
  .bg-indigo{
  color: #8000FF;
  }
  .heading{
    font-size: 18px;
    font-weight: bold;
  }
