<app-header headerTitle="On Demand Bookings" [isMenuVisible]="false" routerLink="/booking-history"></app-header>

<div overflow-scroll="true">
  <ion-segment value="1" mode="md" [(ngModel)]="current">
    <ion-segment-button value="1">
      <ion-label>today </ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>Future</ion-label>
    </ion-segment-button>
    <ion-segment-button value="3">
      <ion-label>Past </ion-label>
    </ion-segment-button>
  </ion-segment>
  <div class="	p-1" *ngIf="current === '1'">
    <ion-card class="bg-ondemand p-1 mt-4 text-black font-medium">
      <div class="rounded-md bg-white pt-2.5 mt-0.5 pb-4 t-line">
        <div class="h-8 flex justify-evenly mt-2  items-center">
          <div class="flex flex-col">
            <span class="m-1" (click)="goToBookOnDemand()">DII-B548851</span>
            <span class="text-blue-500">Booking Code</span>
          </div>
          <div class="flex flex-col">
            <span class="m-1">Outstation</span>
            <span class="">Booking Type</span>
          </div>
          <div class="flex flex-col">
            <span class="m-1">2200/-</span>
            <span class="tariff text-blue-500" expand="block" (click)="setOpen(true)">Tariff</span>
          </div>
        </div>
      </div>
      <div class="rounded-md bg-white mt-2.5  t-line">
        <div class="h-35 flex text-center justify-evenly mt-1.5 py-2 text-black font-medium">
          <div class="mx-2">
            <p> From Location </p>
            <p class="">koregaon park pune.</p>
          </div>
          <div class="vl3 "></div>
          <div class="mx-2 ">
            <p> From Date </p>
            <p> Jan 6 2023,5.00 AM </p>
          </div>
        </div>
      </div>
      <div class="rounded-md bg-white mt-2.5  t-line">
        <div class="h-35 flex text-center justify-evenly mt-1.5 py-2 text-black font-medium">
          <div class="mx-2">
            <p> To Location </p>
            <p class="">Kurla West ,Mumbai.</p>
          </div>
          <div class="vl3 "></div>
          <div class="mx-2 ">
            <p> To Date </p>
            <p> Jan 7 2023,5.00 PM </p>
          </div>
        </div>
      </div>
      <ng-container>
        <div class="stepper-wrapper t-line">
          <div class="flex items-center justify-between mx-auto w-[300px]">
            <div>
              <div class="relative flex items-center flex-col py-5 justify-center text-center">
                <div class="text-sm whitespace-nowrap font-semibold absolute -bottom-[0px] ml-8">On Process
                </div>
                <img class="divide-x-[5px]" src="./assets/icons/check.svg" alt="">
              </div>
            </div>
            <div class="h-[2px] bg-green-800 flex-1"></div>
            <div>
              <div class="relative flex items-center flex-col py-5 justify-center text-center">
                <div class="text-sm whitespace-nowrap font-semibold absolute -top-[1px]">Mapping Driver
                </div>
                <img class="" src="./assets/icons/check.svg" alt="">
              </div>
            </div>
            <div class="h-[2px] bg-green-800 flex-1"></div>
            <div>
              <div class="relative flex items-center flex-col py-5 justify-center text-center">
                <div class="text-sm whitespace-nowrap font-semibold absolute -bottom-[0px]">Driver Confirmed
                </div>
                <img class="divide-x-[5px]" src="./assets/icons/check.svg" alt="">
              </div>
            </div>
            <div class="h-[2px] bg-green-800 flex-1"></div>
            <div>
              <div class="relative flex items-center flex-col py-5 justify-center text-center">
                <div class="text-sm whitespace-nowrap font-semibold absolute -top-[1px]">On the way</div>
                <img class="divide-x-[5px]" src="./assets/icons/check.svg" alt="">
              </div>
            </div>
            <div class="h-[2px] bg-gray-400 flex-1"></div>
            <div>
              <div class="relative flex items-center flex-col py-5 justify-center text-center">
                <div class="text-sm whitespace-nowrap font-semibold absolute -bottom-[0px] mr-[45px]">Completed
                </div>
                <img class="mr-[25px]" src="./assets/icons/pending.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="flex items-center justify-center m-2">
        <ion-button class="w-full" (click)=" presentAlert()">
          <span class="material-icons mr-2">cancel</span>
          cancel
        </ion-button>
      </div>
      <!-- <div class="flex items-center m-0">
        <span class="material-icons  m-auto text-stone-600" (click)="onclick()">{{ show ? 'expand_more':
          'expand_less' }}</span>
      </div> -->
    </ion-card>
  </div>
  <div class="p-1" *ngIf="current === '2'">
    <ion-card class="bg-ondemand p-1 mt-4 text-black font-medium">
      <div class="rounded-md bg-white pt-2.5 mt-0.5 pb-4 f-line">
        <div class="h-8 flex justify-evenly mt-2  items-center">
          <div class="flex flex-col">
            <span class="m-1" (click)="goToBookOnDemand()">DII-B548851</span>
            <span class="text-blue-500">Booking Code</span>
          </div>
          <div class="flex flex-col">
            <span class="m-1">Outstation</span>
            <span class="">Booking Type</span>
          </div>
          <div class="flex flex-col">
            <span class="m-1 ">2200/-</span>
            <span class="tariff text-blue-500" expand="block" (click)="setOpen(true)">Tariff</span>
          </div>
        </div>
      </div>
      <div class="rounded-md bg-white mt-2.5  f-line">
        <div class="h-35 flex text-center justify-evenly mt-1.5 py-2 text-black font-medium">
          <div class="mx-2">
            <p> From Location </p>
            <p class="">koregaon park pune.</p>
          </div>
          <div class="vl3 "></div>
          <div class="mx-2 ">
            <p> From Date </p>
            <p> Jan 6 2023,5.00 AM </p>
          </div>
        </div>
      </div>
      <div class="rounded-md bg-white mt-2.5  f-line">
        <div class="h-35 flex text-center justify-evenly mt-1.5 py-2 text-black font-medium">
          <div class="mx-2">
            <p> To Location </p>
            <p class="">Kurla West ,Mumbai.</p>
          </div>
          <div class="vl3 "></div>
          <div class="mx-2 ">
            <p> To Date </p>
            <p> Jan 7 2023,5.00 PM </p>
          </div>
        </div>
      </div>
      <ng-container>
        <div class="stepper-wrapper f-line">
          <div class="flex items-center justify-between mx-auto w-[300px]">
            <div>
              <div class="relative flex items-center flex-col py-5 justify-center text-center">
                <div class="text-sm whitespace-nowrap font-semibold absolute -bottom-[0px] ml-8">On Process
                </div>
                <img class="divide-x-[5px]" src="./assets/icons/check.svg" alt="">
              </div>
            </div>
            <div class="h-[2px] bg-green-800 flex-1"></div>
            <div>
              <div class="relative flex items-center flex-col py-5 justify-center text-center">
                <div class="text-sm whitespace-nowrap font-semibold absolute -top-[1px]">Mapping Driver
                </div>
                <img class="" src="./assets/icons/check.svg" alt="">
              </div>
            </div>
            <div class="h-[2px] bg-green-800 flex-1"></div>
            <div>
              <div class="relative flex items-center flex-col py-5 justify-center text-center">
                <div class="text-sm whitespace-nowrap font-semibold absolute -bottom-[0px]">Driver Confirmed
                </div>
                <img src="./assets/icons/completed.svg" alt="">
              </div>
            </div>
            <div class="h-[2px] bg-gray-400 flex-1"></div>
            <div>
              <div class="relative flex items-center flex-col py-5 justify-center text-center">
                <div class="text-sm whitespace-nowrap font-semibold absolute -top-[1px]">On the way</div>
                <img src="./assets/icons/pending.svg" alt="">
              </div>
            </div>
            <div class="h-[2px] bg-gray-400 flex-1"></div>
            <div>
              <div class="relative flex items-center flex-col py-5 justify-center text-center">
                <div class="text-sm whitespace-nowrap font-semibold absolute -bottom-[0px] mr-[45px]">Completed
                </div>
                <img class="mr-[25px]" src="./assets/icons/inprogress.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="flex items-center justify-center m-2">
        <ion-button class="w-full" (click)=" presentAlert()">
          <span class="material-icons mr-2">cancel</span>
          cancel
        </ion-button>
      </div>
      <!-- <div class="flex items-center m-0">
        <span class="material-icons  m-auto text-stone-600" (click)="onclick()">{{ show ? 'expand_more':
          'expand_less' }}</span>
      </div> -->
    </ion-card>
  </div>
  <div class="p-1" *ngIf="current === '3'">
    <ion-card class="bg-ondemand p-1 mt-4 text-black font-medium">
      <div class="rounded-md bg-white pt-2.5 mt-0.5 pb-4 p-line">
        <div class="h-8 flex justify-evenly mt-2  items-center">
          <div class="flex flex-col">
            <span class="m-1" (click)="goToBookOnDemand()">DII-B548851</span>
            <span class="text-blue-500">Booking Code</span>
          </div>
          <div class="flex flex-col">
            <span class="m-1">Outstation</span>
            <span class="">Booking Type</span>
          </div>
          <div class="flex flex-col">
            <span class="m-1">2200/-</span>
            <span class="tariff text-blue-500" expand="block" (click)="setOpen(true)">Tariff
            </span>
          </div>
        </div>
      </div>
      <div class="rounded-md bg-white mt-2.5  p-line">
        <div class="h-35 flex text-center justify-evenly mt-1.5 py-2 text-black font-medium">
          <div class="mx-2">
            <p> From Location </p>
            <p class="">koregaon park pune.</p>
          </div>
          <div class="vl3 "></div>
          <div class="mx-2 ">
            <p> From Date </p>
            <p> Jan 6 2023,5.00 AM </p>
          </div>
        </div>
      </div>
      <div class="rounded-md bg-white mt-2.5  p-line">
        <div class="h-35 flex text-center justify-evenly mt-1.5 py-2 text-black font-medium">
          <div class="mx-2">
            <p> To Location </p>
            <p class="">Kurla West ,Mumbai.</p>
          </div>
          <div class="vl3 "></div>
          <div class="mx-2 ">
            <p> To Date </p>
            <p> Jan 7 2023,5.00 PM </p>
          </div>
        </div>
      </div>
      <ng-container>
        <div class="stepper-wrapper p-line">
          <div class="flex items-center justify-between mx-auto w-[300px]">
            <div>
              <div class="relative flex items-center flex-col py-5 justify-center text-center">
                <div class="text-sm whitespace-nowrap font-semibold absolute -bottom-[0px] ml-8">On Process
                </div>
                <img class="divide-x-[5px] ml-[15px]" src="./assets/icons/check.svg" alt="">
              </div>
            </div>
            <div class="h-[2px] bg-green-800 flex-1"></div>
            <div>
              <div class="relative flex items-center flex-col py-5 justify-center text-center">
                <div class="text-sm whitespace-nowrap font-semibold absolute -top-[1px]">Mapping Driver
                </div>
                <img class="" src="./assets/icons/check.svg" alt="">
              </div>
            </div>
            <div class="h-[2px] bg-green-800 flex-1"></div>
            <div>
              <div class="relative flex items-center flex-col py-5 justify-center text-center">
                <div class="text-sm whitespace-nowrap font-semibold absolute -bottom-[0px]">Driver Confirmed
                </div>
                <img class="divide-x-[5px]" src="./assets/icons/check.svg" alt="">
              </div>
            </div>
            <div class="h-[2px] bg-green-800 flex-1"></div>
            <div>
              <div class="relative flex items-center flex-col py-5 justify-center text-center">
                <div class="text-sm whitespace-nowrap font-semibold absolute -top-[1px]">On the way</div>
                <img class="divide-x-[5px]" src="./assets/icons/check.svg" alt="">
              </div>
            </div>
            <div class="h-[2px] bg-green-800 flex-1"></div>
            <div>
              <div class="relative flex items-center flex-col py-5 justify-center text-center">
                <div class="text-sm whitespace-nowrap font-semibold absolute -bottom-[0px] mr-[45px]">Completed
                </div>
                <img class="divide-x-[5px]  mr-[25px]" src="./assets/icons/check.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="flex items-center justify-center m-2">
        <ion-button class="w-full" expand="block" (click)="setFeedback(true)">
          <span class="material-icons mr-2">add_circle</span>
          Add Feedback
        </ion-button>
      </div>
    </ion-card>
  </div>
</div>

<!-- Tariff Details -->
<!-- <ion-modal [isOpen]="isModalOpen" class="">
  <ng-template class="h-full">
    <div class="bg-black text-white h-20 py-[18px] px-[20px] flex justify-between">
      <div>
        <ion-title class="font-bold ">Tariff Details</ion-title>
      </div>
      <button (click)="setOpen(false)" slot="end">
        <span class="material-icons mr-2">cancel</span>
      </button>
    </div>
    <div class="h-full">
      <div class="mb-4 shadow-md mx-2 mt-2 b-tar rounded-md">
        <div class="text-center py-1">
          <h3 class="p-0">Booking Information</h3>
        </div>
        <div class="pb-2">
          <p class="text-sm font-semibold mx-2">Reporting time : 12:00 PM</p>
          <p class="text-sm font-semibold mx-2"> From Date : Jan 8, 2023</p>
          <p class="text-sm font-semibold mx-2">To Date : Jan 8, 2023</p>
        </div>
      </div>
      <hr>
      <div class="mb-4 mt-0 pt-1 mx-2 shadow-md b-tar rounded-md">
        <h6 class="font-semibold pl-1">Here's  your receipt for your booking</h6>
        <table class="text-sm ">
          <div class="flex flex-col justify-between text-left">
            <thead>
              <tr class="flex flex-row justify-between">
                <th class="px-1 text-sm">Item Description</th>
                <td class="pl-[70px]">In City - Round Trip @ 12 hours</td>
              </tr>
            </thead>
            <thead>
              <tr class="flex flex-row justify-between">
                <th class="px-1 text-sm"> Number of Days</th>
                <td class="mr-3 ">1</td>
              </tr>
              <tr class="flex flex-row justify-between">
                <th class="px-1 text-sm">Rate</th>
                <td class="mr-3">₹700</td>
              </tr>
              <tr class="flex flex-row justify-between">
                <th class="px-1 text-sm">Amount</th>
                <td class="mr-3">₹700</td>
              </tr>
            </thead>
          </div>
          <hr>
          <tbody>
            <tr class="flex flex-row justify-between">
              <th>Discount @ NaN%</th>
              <td class="mr-3  text-yellow-400">₹0</td>
            </tr>
            <tr class="flex flex-row justify-between">
              <th>Total :</th>
              <td class="mr-3 text-green-700"> ₹700</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>
</ion-modal> -->

<ion-modal [isOpen]="isModalOpen" class="">
  <ng-template class="h-full">
    <div class="bg-black text-white h-20 py-[18px] px-[20px] flex justify-between">
      <div>
        <ion-title class="font-bold ">Tariff Details</ion-title>
      </div>
      <button (click)="setOpen(false)" slot="end">
        <span class="material-icons mr-2">cancel</span>
      </button>
    </div>
    <div class="h-full overflow-y-scroll">
      <ion-card class="mb-4 shadow-md mx-2 mt-2 rounded-md">
        <div class="text-center py-1">
          <h3 class="p-0 font-bold">Booking Information</h3>
        </div>
        <div class="pb-2">
          <p class="text-sm font-semibold mx-2">Reporting time : 12:00 PM</p>
          <p class="text-sm font-semibold mx-2"> From Date : Jan 8, 2023</p>
          <p class="text-sm font-semibold mx-2">To Date : Jan 8, 2023</p>
        </div>
      </ion-card>
      <hr>
      <div class="mb-4 mt-0 pt-1 rounded-md">
        <ion-card class="font-semibold p-3">Here's your receipt for your booking</ion-card>
        <div class="text-sm ">
          <div class="flex flex-col justify-between text-left">
            <div>
              <ion-card class="flex p-3 flex-row justify-between">
                <p class="px-1 text-sm">Item Description</p>
                <p class="pl-[70px]">In City - Round Trip @ 12 hours</p>
              </ion-card>
              <ion-card class="flex p-3 flex-row justify-between">
                <p class="px-1 text-sm"> Number of Days</p>
                <p class="mr-3 ">1</p>
              </ion-card>
              <ion-card class="flex p-3 flex-row justify-between">
                <p class="px-1 text-sm">Rate</p>
                <p class="mr-3">₹700</p>
              </ion-card>
              <ion-card class="flex p-3 flex-row justify-between">
                <p class="px-1 text-sm">Amount</p>
                <p class="mr-3">₹700</p>
              </ion-card>
              <ion-card class="flex p-3 flex-row justify-between">
                <p>Discount @ NaN%</p>
                <p class="mr-3 text-red-800">₹0</p>
              </ion-card>
              <ion-card class="flex font-bold p-3 flex-row justify-between">
                <p>Total</p>
                <td class="mr-3 text-green-700"> ₹700</td>
              </ion-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>

<!-- feedbackModal -->
<ion-modal [isOpen]="isFeedbackOpen" class="">
  <ng-template>
    <div class="bg-black text-white h-20 py-[18px] px-[20px] flex justify-between">
      <div>
        <ion-title class="font-bold ">Feedback</ion-title>
      </div>
      <button (click)="setFeedback(false)">
        <span class="material-icons mr-2">cancel</span>
      </button>
    </div>
    <div class="h-full ion-padding">
      <div class="h-full overflow-y-scroll">
        <ion-card class="mb-4 shadow-md mx-2 mt-2 rounded-md">
          <div class="text-center py-1">
            <h3 class="p-0 font-bold">Booking Information</h3>
          </div>
          <div class="pb-2">
            <p class="text-sm font-semibold mx-2">Reporting time : 12:00 PM</p>
            <p class="text-sm font-semibold mx-2"> From Date : Jan 8, 2023</p>
            <p class="text-sm font-semibold mx-2">To Date : Jan 8, 2023</p>
          </div>
        </ion-card>
      </div>
    </div>
  </ng-template>
</ion-modal>
<app-tab-navigator></app-tab-navigator>
