<app-header headerTitle="Edit Profile" [isMenuVisible]="false" routerLink="/profile"></app-header>
<div class="ion-padding">
  <img src=".\assets\Rectangle 196.svg" alt="" />
  <form [formGroup]=" EditForm" (ngSubmit)="submit()" novalidategit >
    <div class="ml-[-10px] mr-[10px]">

    <ion-label position="stacked pl-3 pt-6">Full Name</ion-label>
    <ion-item lines="none border-solid border-2 border-black rounded mb-4">
      <ion-input placeholder=" " formControlName="firstName" type="text" required></ion-input>
    </ion-item>
    <span class="error text-red-500 ion-padding" *ngIf="isSubmitted && errorControl.firstName.errors?.required">
      Please enter your first name it's required
    </span>

  

    <ion-label position="stacked pl-3" required>Email</ion-label>
    <ion-item class="none border-solid border-2 border-black rounded mb-4">
      <ion-input placeholder=" " formControlName="email" type="email" required></ion-input>
    </ion-item>
    <span class="error text-red-500 ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
      please enter your email it's required
    </span>
    <span class="error text-red-500 ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
      please provide valid email-id
    </span>


    <ion-row class="gender">
      <ion-col size="6">
        <ion-label position="stacked pl-3">Gender</ion-label>
        <ion-item lines="none">
          <ion-select formControlName="gender" placeholder="select gender">
            <ion-select-option value="female">Female</ion-select-option>
            <ion-select-option value="male">Male</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
          </ion-select>
        </ion-item>
        <span class="error text-red-500 ion-padding" *ngIf="isSubmitted && errorControl.gender.errors?.required">
          required
        </span>
     </ion-col>



      <ion-col size="6">
        <ion-label position="stacked pl-2">Date of Birth</ion-label>
        <ion-item lines="none">
          <ion-input formControlName="dob" type="date"></ion-input>
        </ion-item>
        <span class="error ion-padding text-red-500" *ngIf="isSubmitted && errorControl.dob.errors?.required">
          required
        </span>
      </ion-col>
    </ion-row>



    <ion-label position="stacked pl-3">Phone Number</ion-label>
    <ion-item lines="none">
      <ion-input formControlName="mobile" type="text" required placeholder=" "></ion-input>

    </ion-item>
    <span class="error text-red-500 ion-padding" *ngIf="isSubmitted && errorControl.mobile.errors?.required">
      please enter your Mobile number
    </span>
    <span class="error text-red-500 ion-padding" *ngIf="isSubmitted && errorControl.mobile.errors?.pattern">
      Only numerical values allowed
    </span>




    <!-- <ion-button type="submit" expand="block">
      Save
    </ion-button> -->
    <div class="submit-btn pt-2 mr-2 ml-2">
      <ion-button type="submit" expand="block">Save Details</ion-button>
    </div>


    <router-outlet></router-outlet>
    <app-tab-navigator></app-tab-navigator>

